@import '../styles/mixins';
@import '../styles/colors';

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: fit-content;
    @include body;
}

mat-card {
    gap: 15px;
    border-radius: 30px;
    mat-card-title {
        text-align: center;
        color: white !important;
        background-color: $primary-color;
        border-radius: 30px;
        font-size: 50px;
        line-height: 70px;
        padding-left: 30px;
        padding-right: 30px;
    }

    mat-card-content {
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    mat-card-footer {
        color: grey;
        text-decoration: underline;
        text-align: center;
        padding-bottom: 10px;
    }
}

button {
    @include action-button-style;
    font-size: 15px;
}