@import '../styles/mixins';
@import '../styles/colors.scss';

.mat-mdc-raised-button mat-icon {
  font-size: 20px;
  line-height: 1;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.sidnav-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $primary-color;
  padding: 4px;
  overflow: hidden;
}

.mat-mdc-raised-button {
  @include action-button-style;
}

button:hover {
  transform: translateY(-2px);
}

.sidnav-content div.top {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.sidnav-content div.bottom {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.logout {
  @include action-button-style(rgb(255, 0, 0))
}