<div class="sidnav-content">
    <div class="top">
        @if(userRole != null){
        <button mat-raised-button routerLink="my-account" routerLinkActive="active"
            (click)="onButtonClicked()"><mat-icon>account_circle</mat-icon> Mon compte </button>
        }
        <button mat-raised-button routerLink="/" routerLinkActive="active" class="home-button"
            (click)="onButtonClicked()"><mat-icon>home</mat-icon>Acceuil</button>
        @if (userRole != null) {
        <button mat-raised-button routerLink="/add_object" routerLinkActive="active"
            (click)="onButtonClicked()"><mat-icon>settings</mat-icon>Page
            Test objet</button>
        }
        @if (userRole != null) {
        <button mat-raised-button routerLink="/Mailbox" routerLinkActive="active"
            (click)="onButtonClicked()"><mat-icon>notifications</mat-icon> Notifications </button>
        }
    </div>
    <div class="bottom">
        @if (userRole == null) {
        <button mat-raised-button routerLink="/se_connecter" routerLinkActive="active" class="sign_in_button"
            (click)="onButtonClicked()"><mat-icon>account_circle</mat-icon>Se connecter</button>
        <button mat-raised-button routerLink="/créer_un_compte" routerLinkActive="active" class="sign_up_button"
            (click)="onButtonClicked()"><mat-icon>person</mat-icon>Créer un compte</button>
        }
        @else {
        <button mat-raised-button (click)="logout()" class="logout"><mat-icon>logout</mat-icon> Se déconnecter </button>
        }
    </div>
</div>