<div class="sidnav-content">
    <div class="top">
        <img src="placeholder.png" alt="Website icon" width="100%" height="150px">
        <a routerLink="/" routerLinkActive = "active"><button><mat-icon>home</mat-icon>Acceuil</button></a>
        <a routerLink="/add_object" routerLinkActive = "active"><button><mat-icon>settings</mat-icon>Page Test objet</button></a>
    </div>
    <div class="bottom">
        <a routerLink="/se_connecter" routerLinkActive="active"><button class = "sign_in_button"><mat-icon>account_circle</mat-icon>Se connecter</button></a>
        <a routerLink="/créer_un_compte" routerLinkActive = "active"><button class = "sign_up_button"><mat-icon>person</mat-icon>Créer un compte</button></a>
    </div>
</div>