mat-icon{
  margin-right: 10px;
  vertical-align: middle;
}

.sidnav-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-color: rgb(107, 80, 204);
    padding: 5px;
  }
  /* Bouton se connecter */

button {
    align-items: center;
    background-color: #3f7abd;
    border: 2px solid #422800;
    width: 100%;
    min-width: max-content;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: hsl(0, 0%, 98%);
    cursor: pointer;
    display: inline-flex;
    font-weight: 600;
    font-size: 16px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
 button:hover {
      box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
      transform: translateY(-2px);
    }
  
button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }

.sidnav-content div.top {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.sidnav-content div.bottom {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: flex-end;
  gap: 10px;
}