<mat-card>
    <mat-card-content>
        @if (user != null && level != undefined){
        <div class="row">
            <div class="left">
                <label for="fileInput" class="profile-picture">
                    <img src="placeholder.png" alt="Profile Picture" />
                </label>
                <div class="row">
                    <h4>{{user.username}}</h4>
                    <p [ngClass]="level.type"> {{level.type}} </p>
                </div>
            </div>
        </div>
        <p> status : {{ user.status }} </p>
        <p> Points : {{level.points}}</p>
        <p> Dernière Mise a jour : {{user.updated_at | date:'d/MM/yy H:mm' }} </p>
        }
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button routerLink={{profilePage}} routerLinkActive="active" class="details">Voir les
            détails</button>
    </mat-card-actions>
</mat-card>