<div class="body">
    <h1> Accès refusé a la ressource </h1>
    <mat-card>
        <mat-card-title> Vous n'avez pas le droit d'accéder à cette page </mat-card-title>
        <mat-card-content>
            <div class="description">
                L'accès à cette ressource est restreinte pour votre rôle. Quittez la page ou contacter l'administrateur.
            </div>
            <div>
                <a routerLink="/" routerLinkActive="active"> Retour a l'acceuil </a>
            </div>
        </mat-card-content>
    </mat-card>
</div>