<div [ngClass]="deviceType">
    <div class="search-bar">
        <div class="search-box">
            <button class="btn-search"><i class="fas fa-search"></i></button>
            <input type="text" class="input-search" placeholder="Rechercher">
        </div>
        <a routerLink="/se_connecter" routerLinkActive="active"><button class="sign_in_button">Se connecter</button></a>
        <a routerLink="/créer_un_compte" routerLinkActive="active"><button class="sign_up_button">Crée un compte</button></a>
    </div>
</div>