<div class="body">
    <mat-card>
        <mat-card-content>
            <div class="column1">
                <label for="fileInput" class="profile-picture">
                    <img [src]="imageSrc || '../../../public/placeholder.png'" alt="Profile Picture" />
                </label>
                <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/*" />
            </div>
            <div class="column2">
                <div class="accountCreation">
                    <h2> Création du compte* </h2>
                    <mat-divider></mat-divider>
                    <mat-grid-list cols="2" rowHeight="4:1">
                        <mat-grid-tile id="1">
                            <mat-form-field>
                                <mat-label> Adresse email </mat-label>
                                <input matInput placeholder="Ex. pat@example.com" type="email" [formControl]="email"
                                    (blur)="updateErrorMessage()" required />
                                @if (email.invalid) {
                                <mat-error>{{errorMessage()}}</mat-error>
                                }
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile id="2">
                            <mat-form-field>
                                <mat-label> Pseudonyme </mat-label>
                                <input matInput type="text" />
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="2">
                            <div class="column">
                                <mat-form-field>
                                    <mat-label> Mot de passe </mat-label>
                                    <input matInput type="password" [formControl]="password"
                                        (blur)="updateErrorMessagePassword()" required />
                                    @if(password.invalid) {
                                    <mat-error>{{errorMessagePassword()}}</mat-error>
                                    }
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label> Confirmer votre mot de passe </mat-label>
                                    <input matInput type="password" [formControl]="confirmPassword"
                                        (blur)="updateErrorMessageConfirmPassword()" required />
                                    @if(confirmPassword.invalid){
                                    <mat-error>{{errorMessageConfirmPassword()}}</mat-error>
                                    }
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
                <mat-divider></mat-divider>
                <div class="personalInformations">
                    <h2> Informations personnelles </h2>
                    <div class="row">
                        <mat-form-field>
                            <mat-label> Nom </mat-label>
                            <input matInput type="text">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label> Prénom </mat-label>
                            <input matInput type="text">
                        </mat-form-field>
                    </div>
                    <mat-form-field>
                        <mat-label> Date de naissance </mat-label>
                        <input matInput type="date">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label> Sexe </mat-label>
                        <mat-select [(value)]="sexe">
                            <mat-option value="H"> Homme </mat-option>
                            <mat-option value="F"> Femme </mat-option>
                            <mat-option value="X"> Autre </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="signIn">
                <button mat-stroked-button> M'inscrire </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>