<div class="body">
    <mat-card>
        <div class="backContainer">
            <div class="signUp">
                <h3> Connexion </h3>
                <mat-form-field>
                    <mat-label> Adresse Mail </mat-label>
                    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                        placeholder="Ex. pat@example.com" [(ngModel)]="LoginObjt.mail">
                    @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                    <mat-error>Veuillez entrer une adresse e-mail valide.</mat-error>
                    }
                    @if (emailFormControl.hasError('required')) {
                    <mat-error>L'adresse e-mail est <strong>obligatoire</strong></mat-error>
                    }
                </mat-form-field>
                <mat-form-field>
                    <mat-label> Mot de passe </mat-label>
                    <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
                        [(ngModel)]="LoginObjt.password">
                    @if (passwordFormControl.hasError('required')) {
                    <mat-error> Le mot de passe est obligatoire </mat-error>
                    }
                </mat-form-field>
                <div>
                    <mat-checkbox (change)="checkChanged($event)"> Se souvenir de moi </mat-checkbox>
                </div>
                <div class="button">
                    <button mat-flat-button (click)="onLogin()"> Se connecter </button>
                </div>
                <a routerLink="/" routerLinkActive="active">Mot de passe oublié ?</a>
            </div>


            <div class="signIn">
                <h3> Inscription </h3>
                <mat-form-field>
                    <mat-label> Adresse Mail </mat-label>
                    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                        placeholder="Ex. pat@example.com" [(ngModel)]="LoginObjt.mail">
                    @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                    <mat-error>Veuillez entrer une adresse e-mail valide.</mat-error>
                    }
                    @if (emailFormControl.hasError('required')) {
                    <mat-error>L'adresse e-mail est <strong>obligatoire</strong></mat-error>
                    }
                </mat-form-field>
                <mat-form-field>
                    <mat-label> Mot de passe </mat-label>
                    <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
                        [(ngModel)]="LoginObjt.password">
                    @if (passwordFormControl.hasError('required')) {
                    <mat-error> Le mot de passe est obligatoire </mat-error>
                    }
                </mat-form-field>
                <mat-form-field>
                    <mat-label> Confirmer votre mot de passe </mat-label>
                    <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
                        [(ngModel)]="LoginObjt.password">
                    @if (passwordFormControl.hasError('required')) {
                    <mat-error> Le mot de passe est obligatoire </mat-error>
                    }
                </mat-form-field>
                <div>
                    <mat-checkbox> Accepter les conditions d'utilisation </mat-checkbox>
                </div>
            </div>
        </div>
        <div class="frontContainer" [ngClass]="switchSignInSignUp ? 'Left' : 'Right'">
            @if(switchSignInSignUp){
            <p> Vous avez déjà un compte ? </p>
            <button mat-stroked-button (click)="switchSignInSignUp=!switchSignInSignUp"> Se connecter </button>
            }
            @else {
            <p> Vous n'avez pas encore de compte ? </p>
            <button mat-stroked-button (click)="switchSignInSignUp=!switchSignInSignUp"> Créer un compte </button>
            }
        </div>
    </mat-card>
</div>