@use '../styles/mixins' as *;
@use '../styles/colors' as *;

mat-card {
    height: 100vh;
    width: 100%;

    mat-card-content{
        flex-direction: column;
        display: flex;
        gap: 15px;
        .head{
            display: flex;
            flex-direction: row;
            justify-content: right;

            button{
                @include action-button-style;
                mat-icon{
                    transform: scale(1.5);
                }
            }
        }
    }
}
/* Mat-Fab buttons*/
.view-stat, .change-state {
    background-color: $action-button-color;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.delete-button {
    background-color: red;
    cursor: pointer;
    transition: transform 0.3 ease-in-out;
}

/*Animation on mouse over*/
.delete-button:hover, .view-stat:hover, .change-state:hover, .Add:hover {
    transform: translateY(-2px);
}


.body {
    @include body;
}

table {
    @include table;
}

mat-icon {
    @include icon-in-button-fab;
}
.mat-mdc-cell:last-child {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 25px;
    padding-right: 25px !important;
}
