<h2 mat-dialog-title>Suppresion de l'objet {{ data.num }}</h2>
<mat-dialog-content>
  <p>êtes vous sûr de vouloir supprimer cette objet ?</p>
  <p>Description:</p>
    <ul style="padding-left: 20px;">
      <li> ID : {{ data.num }} </li>
      <li> NOM : {{ data.name }} </li>
      <li> TYPE : {{ data.type }} </li>
    </ul>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button (click)="onNoClick()" class="cancel-button"><mat-icon>cancel</mat-icon>Annuler</button>
  <button mat-stroked-button (click)="onConfirm()" class="confirm-button"><mat-icon>delete</mat-icon>Confirmer</button>
</mat-dialog-actions>