<div class="body">
    <mat-card>
        <mat-card-content>
            <app-search-bar></app-search-bar>
            <div class="sortType">
                <div class="left">
                    <h2> Types </h2>
                </div>
                <div class="right">
                    <mat-chip-listbox>
                        <mat-chip-option class="chip_1">Articles</mat-chip-option>
                        <mat-chip-option class="chip_2">Utilisateurs</mat-chip-option>
                        <mat-chip-option class="chip_3">Objets</mat-chip-option>
                        <mat-chip-option class="chip_4">Services</mat-chip-option>
                    </mat-chip-listbox>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="sorTcategories">
                <h2> Catégories </h2>
            </div>
            <mat-divider></mat-divider>
            <div class="sortInstances">
                <h2> Instances </h2>
            </div>
            <mat-divider></mat-divider>
        </mat-card-content>
    </mat-card>
</div>