@use '../styles/mixins' as *;
@use '../styles/colors' as *;

.body {
    @include body;
}

mat-card-content {
    display: flex;
    flex-direction: row;
    height: auto;
    min-height: max-content
}

.button{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

mat-card {
    width: 100%;
    height: 100vh;
    @include card;
    mat-card-content{
        height: 100%;
    }
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    .left,
    .right {
        display: flex;
        flex-direction: column;
    }

    .left {
        width: 25%;
        gap: 15px;
        align-items: center;
        border-right: 2px solid grey;
        height: 100%;
        .changePseudo {
            display: flex !important;
            flex-direction: row !important;
            gap: 10px;
            vertical-align: middle;
            align-items: center;
        }
    }

    .right {
        width: 75%;
        padding-left: 20px;
        padding-right: 20px;
        height: 100%;
        gap: 10px;
        button.passwordChange {
            @include action-button-style;
        }

        button.deleteAccount {
            @include action-button-style(red, 0);
        }

        .row {
            display: flex;
            flex-direction: row;
            vertical-align: middle;
            align-items: normal;
        }
        .personalInformations {
            color: black;
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .myObjects {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #ccc;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

input[type="file"] {
    display: none;
}