<mat-card>
    <mat-card-content>
        @if (object != null){
        <div class="row">
            <div class="left">
                <mat-icon>{{icon}}</mat-icon>
                <h4>{{ObjectName}}</h4>
            </div>
            <div class="right">
                <button mat-icon-button (click)="toggleLike()" class="like-button" [class.liked]="isLiked"
                    [disabled]="blockFunc" matTooltip="Ajouter aux favoris">
                    <mat-icon>{{ isLiked ? 'favorite' : 'favorite_border' }}</mat-icon>
                </button>
            </div>
        </div>
        <p>ID : {{ object.id }}</p>
        @for (attr of relevantAttributes; track $index) {
            <p> {{ displayNames[$index] }} : {{ object[attr] }}</p>
        }
        <p> Dernière Mise a jour : {{object.updated_at | date:'d/MM/yy H:mm' }} </p>
        }
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button routerLink={{modifyUrl}} routerLinkActive="active" class="details">Voir les détails</button>
    </mat-card-actions>
</mat-card>